{% extends "base.html" %}

{% block content %}

<div class="basis">
    <div class="root">
        <h1 class="root">Приветственное слово</h1>
        <img hspace="150" vspace="50" height="90" src="./static/pngegg.png">
    </div>
    <br>
    <div class="bio">Доброго времени суток! Добро пожаловать на сайт, созданный командой №5 на
        хакатоне "РобоПром-2023"!
    </div>
    <br>
    <div class="bio">
        Каждый из разработчиков команды написал не так уж и много сайтов, поэтому что-то приходилось
        учить прямо во время написания! Что получилось, то получилось.
    </div>
    <h1 class="root">Проект</h1>
    <h2>Информационное обеспечение производственного предприятия</h2>
    <div class="bio">
        Сайт на котором мы постарались собрать все данные предприятия и построить общую модель
        работы и выполнения задач.
    </div>
    <br>
    <div class="bio">Хорошего использования!</div>
    <br>
</div>
{% endblock %}