<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style_info_yach.css">
    <link href="/examples/vendors/bootstrap-3.4/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, intial scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>5comand.roboprom</title>

</head>

<body>

<nav class="navMenu">
    <a href="/home">Home</a>
    <a href="/all_about">Main</a>
    <a href="/info">Info</a>
    <div class="dot"></div>
</nav>

<div id="wrapper">
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <section>
            <h1>Информация о работе ячейки_№{{cell_num}}; "{{name}}"</h1>
            <div class="block_detali">
                <h1 class="detali1"><b>Средняя загрузка ячейки (день / час): {{avg_d}}% / {{avg_h}}%</b></h1>
                <h1 class="detali1"><b>Ячейкой было обработано деталей (день / час): {{int_d}} / {{int_h}}</b></h1>
            </div>
        </section>
        <div>
            <canvas id="doughnut-chart" width="1500" height="350"></canvas>
            <script>
        new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Включена", "Выключена", "В режиме ожидания", "В режиме ошибки"],
      datasets: [
        {
          label: "Кол-во и состояние ячеек",
          backgroundColor: ["#3e95cd", "#8e5ea2","#75151e","#f7f21a","#c45850"],
          data: {{data_pie}}
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Состояние ячейки(минут)',
        color: "#666"
      }
    }
});


            </script>
            <div class="tables">
                <table>
                    <thread>
                        <th width=16%><b>Состояние</b></th>
                        <th width=16%><b>Время нахождения в состоянии (день, мин.)</b></th>
                        <th width=16%><b>Процент времени нахождения в состоянии (день)</b></th>
                        <th width=16%><b>Время нахождения в состоянии (час, мин.)</b></th>
                        <th width=16%><b>Процент времени нахождения в состоянии (час)</b></th>
                        <tr>
                            <td align="center">{{status_cell}}</td>
                            <td align="center">{{time_status_d}}</td>
                            <td align="center">{{per_d}}</td>
                            <td align="center">{{time_status_h}}</td>
                            <td align="center">{{per_h}}</td>
                        </tr>
                    </thread>
                </table>
                <br><br><br>
                <table>
                    <thread>
                        <th width=16%><b>Состояние ожидания</b></th>
                        <th width=16%><b>Суммарное время ожидания в состоянии (день, мин.)</b></th>
                        <th width=16%><b>Процент времени ожидания в состоянии (день)</b></th>
                        <th width=16%><b>Суммарное время ожидания в состоянии (час, мин.)</b></th>
                        <th width=16%><b>Процент времени ожидания в состоянии (час)</b></th>
                        <tr>
                            <td align="center">{{status_wait}}</td>
                            <td align="center">{{sum_st_wait_d}}</td>
                            <td align="center">{{per_wait_d}}</td>
                            <td align="center">{{sum_st_wait_h}}</td>
                            <td align="center">{{per_wait_h}}</td>
                        </tr>
                    </thread>
                </table>
            </div>

        </div>


    </main>
    <div class="block1">

        <canvas id="line-chart" width="1700" height="390"></canvas>
        <script>new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
    datasets: [{
        data: {{for_graph}},
        label: "Состояния ячейки",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Состояние'
    }
  }
});


        </script>
    </div>
</body>
</html>